* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#webcam {
    position: relative;
    top: -265px;
}

#time {
    position: fixed;
    left: 190px;
    right: 10px;
    bottom: -40px;
    width: 161px;
    height: 80px;
    margin: 0;
    padding: 20px 0;
    background-image: url(/image/clock.png);
    text-align: center;
    line-height: 20px;
    font-size: 25px;
    cursor: pointer;
    z-index: 50;
}