* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#webcam {
    position: relative;
    top: -265px;
}

#time {
    position: fixed;
    left: 190px;
    right: 10px;
    bottom: -40px;
    width: 161px;
    height: 80px;
    margin: 0;
    padding: 20px 0;
    background-image: url(/image/clock.png);
    text-align: center;
    line-height: 20px;
    font-size: 25px;
    cursor: pointer;
    z-index: 50;
}

#fullScreen {
    width: 90vw;
    height: 90vh;
    position: absolute;
    z-index: 10;
    background: rgb(0 0 0 / 66%);
    color: white;
    line-height: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ok-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 24px;
    font-size: 25px;
}